{
	    "DeliveryStreamName": "<Enter the name of your delivery stream>",
	    "Record": {
	        "Data": "$util.base64Encode($util.escapeJavaScript($input.json('$')).replace('\', ''))"
	    }
}
